@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
}

.header {
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 80%;
    margin-top: 30px;
    
    background-color: #FFDDD2;
    border-radius: 30px;
    overflow: hidden;
}

.header__text {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    color: #E29578;
    margin-left: 35px;
}

.header__select {
    border: none;
    outline: none;
    padding: 0 35px;
    border-radius: 30px;
    background-color: #E29578;

    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    color: #EDF6F9; 
}
